 /* commos css starts */
 
 * {
     margin: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box;
 }
 
 a,
 a:hover {
     text-decoration: none;
     display: inline-block;
 }
 
 ul,
 li {
     list-style: none;
 }
 
 img {
     vertical-align: middle;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
     padding: 0;
     line-height: 0.8;
 }
 /* typography starts */
 
 .roboto-regular-14 {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 14px;
 }
 
 .roboto-light-14 {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 14px;
 }
 
 .roboto-light-13 {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 13px;
 }
 
 .roboto-black-12 {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 12px;
 }
 
 .roboto-black-13 {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 13px;
 }
 
 .roboto-black-14 {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 14px;
 }
 
 .roboto-black-16 {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 16px;
 }
 
 .play-reg-16 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 16px;
 }
 
 .play-reg-100 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 100px;
 }
 
 .play-reg-14 {
     font-family: 'Playfair Display', serif;
     font-weight: 400;
     font-size: 14px;
 }
 
 .play-black-32 {
     font-family: 'Playfair Display', serif;
     font-weight: 900;
     font-size: 32px;
 }
 
 .ham-reg-16 {
     font-family: 'Hammersmith One', sans-serif;
     font-weight: 400;
     font-size: 16px;
 }
 
 .play-bold-22 {
     font-family: 'Playfair Display', serif;
     font-weight: 700;
     font-size: 22px;
 }
 /* typography ends */
 /* navbar starts */
 
 .navbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
 }
 
 .navbar .nav-link {
     color: #fff;
     transition: all linear 0.3s;
     -webkit-transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
     -ms-transition: all linear 0.3s;
     -o-transition: all linear 0.3s;
 }
 
 .navbar .nav-link:hover {
     color: #00e0d0;
 }
 /* navbar ends */
 
 #banner {
     padding: 380px 0px;
     background: url(../images/banner.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     z-index: 1;
 }
 /* banner starts */
 
 #banner::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
     z-index: -1;
 }
 
 #banner .container .row .banner-text a {
     padding: 15px;
     background: transparent;
     border: 1px solid #00e0d0;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     color: #00e0d0;
 }
 
 #banner .container .row .banner-text h1 {
     margin-bottom: 60px;
     position: relative;
 }
 
 #banner .container .row .banner-text h1::after {
     content: '';
     position: absolute;
     bottom: -30px;
     left: 50%;
     transform: translateX(-50%);
     width: 50px;
     height: 1px;
     background: #00e0d0;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 
 #banner .container .row .banner-text p {
     padding-bottom: 50px;
     line-height: 24px;
 }
 /* banner ends */
 /* story starts */
 
 #story {
     padding: 70px 0px 70px 0px;
 }
 
 .story-txt h3 {
     color: #413d4b;
 }
 
 .story-txt .p1 {
     padding: 30px 0px 30px 0px;
 }
 
 .story-txt .p1 p {
     color: #413d4b;
     line-height: 25px;
 }
 
 .story-txt .p2 {
     padding-bottom: 35px;
 }
 
 .story-txt .p2 p {
     color: #413d4b;
     line-height: 25px;
 }
 
 .story-txt a {
     padding: 15px;
     background: transparent;
     border: 1px solid #00e0d0;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     color: #00e0d0;
 }
 /* story ends */
 /* video starts */
 
 #video {
     padding: 200px 0px 200px 0px;
     background: url(../images/video.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     z-index: 1;
 }
 
 #video::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
     z-index: -1;
 }
 
 .video-text p {
     color: #fff;
     padding-top: 30px;
 }
 /* video ends */
 /* expertise starts */
 
 #expertise {
     padding-top: 70px;
 }
 
 .expertise-txt p {
     position: relative;
     padding-top: 20px;
     padding-bottom: 100px;
 }
 
 .expertise-txt p::after {
     content: '';
     position: absolute;
     bottom: 45px;
     left: 50%;
     transform: translateX(-50%);
     width: 50px;
     height: 1px;
     background: #c6c4c9;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 
 .ex-item-txt h3 {
     padding: 35px 0px 25px 0px;
 }
 
 .ex-item-txt p {
     color: #333333;
     line-height: 24px;
     padding-bottom: 80px;
     padding-left: 30px;
     padding-right: 30px;
 }
 /* expertise ends */
 /* team starts */
 
 #team {
     padding: 70px 0px 70px 0px;
     background: url(../images/team-bg.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     z-index: 1;
     /* color: #fff; */
 }
 
 #team::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
     z-index: -1;
 }
 
 .team-txt h3 {
     color: #fff;
 }
 
 .team-txt p {
     padding: 20px 0px 65px 0px;
     color: #f9f9f9;
 }
 
 .team-txt p::after {
     content: '';
     position: absolute;
     bottom: 45px;
     left: 50%;
     transform: translateX(-50%);
     width: 50px;
     height: 1px;
     background: #c6c4c9;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 
 .team-item {
     border: 1px solid #79778c;
 }
 
 .team-item-txt {
     padding: 20px 0px;
 }
 
 .team-item h3 {
     color: #fff;
     padding-bottom: 10px;
 }
 
 .team-item p {
     color: #f9f9f9;
 }
 
 .under-team-1 p {
     color: #f3f3f3;
     padding: 70px 0px 30px 0px;
 }
 
 .under-team-2 a {
     color: #00e0d0;
     padding: 15px 10px;
     border: 1px solid #00e0d0;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }
 /* team ends */
 /* works starts */
 
 #works {
     padding-top: 70px;
 }
 
 .works-txt h3 {
     color: #413d4b;
 }
 
 .works-txt p {
     color: #2f2d35;
     position: relative;
     padding: 20px 0px 50px 0px;
 }
 
 .works-txt p::after {
     content: '';
     position: absolute;
     bottom: 25px;
     left: 50%;
     transform: translateX(-50%);
     width: 50px;
     height: 1px;
     background: #c6c4c9;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }
 
 .works-btn {
     padding-bottom: 50px;
 }
 
 .works-btn button {
     background: transparent;
     border: 1px solid #c6c4c9;
     padding: 5px;
     color: #333333;
 }
 
 .under-works-btn {
     padding: 70px 0px;
 }
 
 .under-works-btn a {
     padding: 15px 30px;
     border: 1px solid #00e0d0;
     color: #00e0d0;
 }
 /* works ends */
 /* qote starts */
 
 #qote {
     /* padding: 70px 0px 70px 0px; */
     background: url(../images/team-bg.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     z-index: 1;
 }
 
 #qote::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
     z-index: -1;
 }
 
 #qote h3 {
     padding-top: 120px;
 }
 
 #qote p {
     line-height: 25px;
     padding: 0px 80px;
 }
 
 #qote h4 {
     padding-top: 40px;
     padding-bottom: 10px;
 }
 
 #qote h5 {
     padding-bottom: 140px;
 }
 /* qote ends */
 /* client starts */
 
 #client {
     padding: 70px 0px;
 }
 
 #client input {
     margin-bottom: 25px;
 }
 
 .news textarea {
     resize: none;
     height: 50px;
 }
 
 .news h3 {
     padding-bottom: 35px;
 }
 
 .news .btn {
     padding-top: 20px;
 }
 
 .news a {
     padding: 10px 35px;
     border: 1px solid #00e0d0;
     color: #00e0d0;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }
 
 .client-logos {
     padding-top: 45px;
 }
 /* client ends */
 /* footer starts */
 
 #footer {
     background: url(../images/footer-bg.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     z-index: 1;
 }
 
 #footer::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85));
     z-index: -1;
 }
 
 .footer-1 img {
     padding-top: 70px;
 }
 
 .footer-1 p {
     padding: 30px 0px 80px 0px;
     line-height: 24px;
     color: #ffff;
 }
 
 .footer-2 {
     padding-top: 90px;
 }
 
 .footer-2 h3 {
     color: #fff;
 }
 
 .footer-2 .p1 {
     padding-top: 40px;
     padding-bottom: 25px;
     color: #fff;
 }
 
 .footer-2 .p1 p {
     padding-right: 90px;
     line-height: 24px;
 }
 
 .footer-2 .p1 i {
     padding-right: 15px;
 }
 
 .footer-2 .p2 {
     color: #fff;
 }
 
 .footer-2 .p2 i {
     padding-right: 15px;
 }
 
 .footer-3 .subscribe a:first-of-type {
     padding: 20px 15px;
     border: 1px solid #d9d8de;
     color: #d9d8de;
 }
 
 .footer-3 .subscribe a:last-of-type {
     color: #2f2d35;
     padding: 18px 15px;
     background: #d9d8de;
 }
 
 .footer-3 {
     padding-top: 90px;
     color: #fff;
 }
 
 .footer-3 .subscribe {
     padding-top: 40px;
     padding-bottom: 25px;
 }
 
 .footer-3 .social a {
     padding: 8px;
     border: 1px solid #fff;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     color: #fff;
 }
 
 .down-footer-1 a {
     padding-right: 30px;
 }
 /* footer ends */